modules = ["nodejs-20", "web", "postgresql-16"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42599857
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server -p 5000"

[[ports]]
localPort = 5000
externalPort = 80
